<p id="notice"><%= notice %></p>

<h1>Product Found!</h1>

<div class= "container" id="show">
<p>
  
<p>
 <%= image_tag(@product.image_url, class: "thumbnail") %>
</p>
  

  
<p>
  <strong><%= @product.name %></strong>
  
</p>

<p>
  <%= @product.description %>
</p>

<p>
  <%= @product.color %>
  
</p>

<p>
  <%= @product.price %>
</p>

<p> Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> This is where the average rating should be</p>
</div>

<div class="container" id="comments">
  
    <%= render 'new_comment' %>
  
</div>

<div class="container" id="with_ratings">
    
    <%= render 'comments' %>
    
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
