<p id="notice"><%= notice %></p>

<h1>Product Found!</h1>

<div class= "container-fluid">
  <div class= "col-md-8 col-sm-12" id= "show" class="row">
    <p>
       <%= image_tag(@product.image_url, class:"candle img-responsive img-zoom", data_zoom_image: "#{@product.image_url}" ) %>
    </p>
    <p>
      <strong><%= @product.name %></strong>
    </p>
    <p>
      <%= @product.description %>
    </p>
    <p>
      <%= @product.color %>
    </p>
    <p>
      <%= @product.price %>
    </p>
    
    <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
    
      <div class="container" id="newcomment">
    <%= render 'new_comment' %>
    
      </div> <!--close new comment-->
      
      
  </div><!--close show-->


  <div class= "col-md-4 col-sm-12" id="avgrating" class="row">
    <h2> Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></h2>
    
      <div class= "container" id="oldcomments" class="product-reviews">
        
        <%= render 'comments', collection: @comments %>
        <%= will_paginate @comments %>
         
      </div> <!--close oldcomments container-->
  </div> <!--close avgrating-->
</div><!--close container-fluid--->
</div> <!--close container-fluid-->
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>



